.slider {
  display: flex;
  gap: 20px;
  height: 25%;
  overflow: scroll;
  padding-bottom: 25px;
  padding-top: 15px;
}

.slider::-webkit-scrollbar {
  display: none;
}
img {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: rgb(226, 146, 50);
  font-size: 40px;
  padding-bottom: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #371905;
  margin: 1em 0;
  padding: 0;
}
