#mtContainer {
  display: flex;
  justify-content: space-evenly;
}

.mt {
  text-decoration: none;
  color: var(--black);
  width: 100px;
  text-align: center;
  padding: 40px;
  background-color: var(--secondary);
  font-family: GrenetteSemi;
  font-size: 1.2rem;
}
.mt:hover {
  background-color: var(--primary);
}
